@model Dictionary<string, string>

@{
    ViewData["Title"] = "WebStatus Configuration";
}

<h1>Configuration Values</h1>

<table>
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Key</td>
            <td>@item.Value</td>
        </tr>
    }
    </tbody>
</table>
