<div class="esh-identity">
    <section class="esh-identity-section"
             *ngIf="!authenticated">
        <button type="button" class="u-cursor-pointer pt-2 pb-2" (click)="login()">
            <div class="esh-identity-name d-flex align-items-center">LOGIN
                <img class="esh-identity-image ml-2" src="assets/images/user.svg" alt="User">
            </div>
        </button>
    </section>

    <section class="esh-identity-section u-cursor-pointer pt-2 pb-2"
         *ngIf="authenticated">

        <div class="esh-identity-name">{{userName}}</div>
        <img class="esh-identity-image ml-2" src="assets/images/user.svg" alt="User">
    </section>

    <section class="esh-identity-drop"
             *ngIf="authenticated">

        <div class="esh-identity-item"
             [routerLink]="['orders']">
            <div class="esh-identity-name">My orders</div>
        </div>

        <button type="button" class="esh-identity-item"
             (click)="logoutClicked($event)">
            <div class="esh-identity-name">Log Out</div>
        </button>
    </section>
</div>
